.react-tags {
    position: relative;
    padding: 6px 0 0 6px;
    border: 1px solid #D1D1D1;
    border-radius: 1px;
  
    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;
  
    /* clicking anywhere will focus the input */
    cursor: text;
}

.react-tags.is-focused {
    border-color: #B1B1B1;
}


.react-tags__selected {
    display: inline;
}


  .react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: #F1F1F1;
  
    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  
    }/*este es el que cambia el estilos de los selecionados */




.react-tags__selected-tag:after {
    content: '\2715';
    color: #AAA;
    margin-left: 8px;
}/* añade la X al componente para borrar*/


.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #e833c7;
}/*le da el color al borde del tag selecionado al pasar el mouse*/


.react-tags__search {
    display: inline-block;
  
    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;
  
    /* prevent autoresize overflowing the container */
    max-width: 100%;
} /*coloca los seleccionados en la misma fila del buscador*/




@media screen and (min-width: 30em) {

    .react-tags__suggestions {
      width: 240px;
    }
  
}



.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;
  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search input::-ms-clear {
    display: none;
}





.react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 30em) {

    .react-tags__suggestions {
      width: 240px;
    }
  
}


.react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid rgb(146, 67, 67);
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}/*aplicada para la lista de sugerencias*/

  .react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
  }
  
  .react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }/*decoracion para la coincidencia en la busqueda*/
  
  .react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
  }/*el color de fondo cuando se seleciona algo*/
  
  .react-tags__suggestions li.is-active {
    background: hsl(188, 52%, 80%);
  }/*para cuando seleccionamos con el cursor el color de fondo*/
  
  .react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
  }













/*el borde para la imagen en insertarProducto*/
.imagen_producto{
    width: 100%;
    height: 200px;
    border: 5px rgb(0, 0, 0) double;
    
}





.container{
  padding-right: 0;
  padding-left: 0;
}


body{
  background-color: #92b3ce;
}
















/*CSS PARA EL FOOTER*/


footer{
  margin-bottom: 0;
}


.links-footer{
  display: flex;
  height: 75px ;
}


.info-footer{
  color:white;
  flex: 0 0 20%;
  text-align: center;
  line-height: 70px;
  text-decoration: none;
  background: #4b558b;
  border: 1px solid black;
  cursor: pointer;
}

.info-footer:hover{
  background: #787a85bd;
  color: black;
  text-decoration: none;
}


.mensaje{
  background:#4b558b;
  overflow: hidden;
  border-top: 1px solid black;
  color: whitesmoke;
}




.iconos-footer{
  display: flex;
  height:50px;
  line-height: 50px;
  background: #252a44;
  justify-content: center;
  align-items: center;
}

.iconos-footer>a>svg{
  color: grey;
}

.iconos-footer>a>svg:hover{
  color:rgb(73, 120, 165);
}

.iconos-footer>a{
  margin-left: 1%;
  margin-right: 1%;
}



.derechos{
  height: 25px;
  text-align: center;
  background: #252a44;
  border-top: 1px solid white;
  color: rgb(155, 154, 154);
}





@media screen and (max-width : 768px){
  .links-footer{
      flex-direction: column;
      height: auto;
  }


  .links-footer>a{
      flex-basis: 100%;
  }

}



/*quitarle el subrayado a los links */
a:hover {
  text-decoration: none;
}